<!DOCTYPE html>
<html lang="en">

<head>
    <title>AmpSpot | DJ Management Platform</title>
    <link rel="icon" type="image/x-icon" href="assets/images/icons/favicon.jpeg">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap icon library -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css"> -->
    <!-- slick slider -->
    <link rel="stylesheet" type="text/css" href="assets/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/slick-theme.css">
    <!-- poppins Font -->
    <link href="assets/fonts/poppins/stylesheet.css" rel=" stylesheet " />
    <!-- Sytle link -->
    <link href="assets/css/style.css " rel="stylesheet " />
</head>

<body>
    <div class="cs-theme-wrapper">
        <!-- Header start -->
        <header class="cs-header" id="csHeader">
            <div class="container ">
                <div class="cs-header-content ">
                    <div class="cs-logo ">
                        <a href="home.html ">
                            <img src="assets/images/thumbnails/cs-logo.png " alt="Brand logo " />
                        </a>
                    </div>
                    <!-- mobile toggle btn -->
                    <button class="mobile-toggler-btn x ">
                        <span class="icon-bar "></span>
                        <span class="icon-bar "></span>
                        <span class="icon-bar "></span>
                    </button>
                    <div class="cs-navbar-collapse ">
                        <ul class="nav cs-navbar-nav ">
                            <li class="nav-item ">
                                <a class="nav-link active" href="#discover-section">Discover</a>
                            </li>
                            <li class="nav-item cs-dropdown">
                                <a class="nav-link" id="services" href="#genre-section">Genre</a>

                            </li>
                            <!-- <li class="nav-item cs-dropdown">
                                <a class="nav-link expertise-links" href="expertise.html">EXPERTISE</a>
                                <span id="expertise">
                                    <i class="bi bi-chevron-right chevron-icn"></i>
                                </span>
                                <div class="cs-dropdown-menu cs-dropdown-megamenu">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <ul>
                                                    <h5 class="megameunu-title">Web & Mobile App Development</h5>
                                                    <li><a class="dropdown-item " href="ui-ux-design.html">UI/UX Design</a></li>
                                                    <li><a class="dropdown-item" href="react-development.html">React Development</a></li>
                                                    <li><a class="dropdown-item" href="mobile-development.html">Mobile App Development</a>
                                                    </li>
                                                    <li><a class="dropdown-item" href="backend-engg.html">Backend / Middleware</a></li>
                                                    <li><a class="dropdown-item" href="qa-engineering.html">QA / Test Engineering</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4">
                                                <ul>
                                                    <h5 class="megameunu-title">Cloud & DevOps</h5>
                                                    <li><a class="dropdown-item" href="ci-cd.html">CI/CD & Infrastucture
                                                            Automation</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4">
                                                <ul>
                                                    <h5 class="megameunu-title">Machine Learning & Data Engineering</h5>
                                                    <li><a class="dropdown-item" href="machine-learning.html">Machine Learning & AI</a></li>
                                                    <li><a class="dropdown-item" href="data-engg.html">Data Engineering &
                                                            Pipelines</a></li>
                                                    <li><a class="dropdown-item" href="chatbot-development.html">Chatbots</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li> -->
                            <li class="nav-item ">
                                <a class="nav-link " href="#feature-section">Features</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link " href="#pricing-section">Pricing</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link " href="#contact-section">Contact</a>
                            </li>
                        </ul>

                        <div class="header_signin_btn d-flex d-md-none">
                            <a href="/registration" class="header_sign_btn">Sign In</a>
                            <a href="/registration" class="theme-btn"> <span>Sign Up</span>
                                <span class="d-inline-block ms-2"><img src="assets/images/icons/arrow_icn.png"
                                        alt="arrow icon" /></span>
                            </a>
                        </div> 
                    </div>

                    <div class="header_signin_btn d-none d-md-inline-block">
                        <a href="/registration" class="header_sign_btn">Sign In</a>
                        <a href="/registration" class="theme-btn"> <span>Sign Up</span>
                            <span class="d-inline-block ms-2"><img src="assets/images/icons/arrow_icn.png"
                                    alt="arrow icon" /></span>
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header end -->

        <!-- Main start -->
        <main class="cs-main-content">
            <!-- here-banner -->
            <section class="here-banner" id="discover-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="hero-banner-content ">
                                <article class="cs-title-wrapper">
                                    <h1 class="cs-heading-h1 ">
                                        Create Unforgettable Musical Experiences, We’ll Take
                                        Care Of The Rest.
                                    </h1>
                                    <p class="cs-para ">Experience the Revolution in DJ Business Operations with Amp
                                        Spot's Cutting-Edge Automation. Say goodbye to the mundane tasks and paperwork,
                                        and hello to the freedom to fully immerse yourself in the art of being a DJ!</p>
                                </article>
                                <div class="banner-btn-wrapper ">
                                    <a href="/registration" class="theme-btn">Get Started <span class="d-inline-block ms-2"><img
                                                src="assets/images/icons/arrow_icn.png" alt="arrow icon" /></span></a>
                                    <a href="/registration" class="theme-btn theme-btn-secondary">Explore more
                                    </a>
                                </div>

                                <div class="banner_widgets">
                                    <article class="banner_widgets_card">
                                        <h2 class="banner_widgets_title">100+</h2>
                                        <p class="banner_widgets_para">Hours Given Back To You</p>
                                    </article>

                                    <article class="banner_widgets_card">
                                        <h2 class="banner_widgets_title">Simple</h2>
                                        <p class="banner_widgets_para">Profile Creation</p>
                                    </article>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 order_1">
                            <figure class="banner-img">
                                <img src="assets/images/thumbnails/banner-img.png" alt="banner thumbnail" />
                            </figure>
                        </div>

                    </div>
                </div>
            </section>
            <!-- here-banner::end -->

            <!-- genres -->
            <section class="engagement-models" id="genre-section">
                <div class="container">
                    <article class="cs-title-wrapper in-line-title">
                        <h2 class="cs-heading-h2 ">
                            All <span class="cs-mark ">genres</span> Welcomed
                        </h2>

                        <a href="#" class="theme-btn">Explore more
                            <span class="d-inline-block ms-2">
                                <img src="assets/images/icons/arrow_icn.png" alt="arrow icon" />
                            </span>
                        </a>
                    </article>
                    <div class="row ">
                        <div class="col-md-3 ">
                            <div class="eng-models-box">
                                <a class="genes_link" href="#">
                                    <figure class="gener_fig">
                                        <img src="assets/images/thumbnails/gene-img1.png" alt="thumbnail" />
                                        <div class="genes_overlay">
                                            <img src="assets/images/icons/gener_icn.png" alt="arrow icon">
                                        </div>
                                    </figure>
                                    <article class="eng-models-content ">
                                        <h5>ROCK</h5>
                                    </article>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 ">
                            <div class="eng-models-box">
                                <a class="genes_link" href="#">
                                    <figure class="gener_fig">
                                        <img src="assets/images/thumbnails/gene-img2.png" alt="thumbnail" />
                                        <div class="genes_overlay">
                                            <img src="assets/images/icons/gener_icn.png" alt="arrow icon">
                                        </div>
                                    </figure>
                                    <article class="eng-models-content ">
                                        <h5>HIP Hop</h5>
                                    </article>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 ">
                            <div class="eng-models-box">
                                <a class="genes_link" href="#">
                                    <figure class="gener_fig">
                                        <img src="assets/images/thumbnails/gene-img3.png" alt="thumbnail" />
                                        <div class="genes_overlay">
                                            <img src="assets/images/icons/gener_icn.png" alt="arrow icon">
                                        </div>
                                    </figure>
                                    <article class="eng-models-content ">
                                        <h5>AFROBEATS</h5>
                                    </article>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 ">
                            <div class="eng-models-box">
                                <a class="genes_link" href="#">
                                    <figure class="gener_fig">
                                        <img src="assets/images/thumbnails/gene-img4.png" alt="thumbnail" />
                                        <div class="genes_overlay">
                                            <img src="assets/images/icons/gener_icn.png" alt="arrow icon">
                                        </div>
                                    </figure>
                                    <article class="eng-models-content ">
                                        <h5>HIP Hop</h5>
                                    </article>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <!-- genres::end -->

            <!-- best feature -->
            <section class="our-process" id="feature-section">
                <div class="container">
                    <h1 class="cs-heading-h1 gradient-text mb-12">
                        Create Unforgettable Musical <br /> Experiences, We’ll Take <br />
                        Care Of The Rest.
                    </h1>
                    <article class="cs-title-wrapper in-line-title">
                        <h2 class="cs-heading-h2 ">
                            Best <span class="cs-mark ">features</span>
                        </h2>

                        <a href="#" class="theme-btn">Explore more
                            <span class="d-inline-block ms-2">
                                <img src="assets/images/icons/arrow_icn.png" alt="arrow icon" />
                            </span>
                        </a>
                    </article>
                    <div class="row our-process-content">
                        <div class="col-md-6 align-self-center">
                            <ul class="our-process-lst">
                                <li>
                                    <a class="our-process-item" href="#">
                                        <span class="feature_icn">
                                            <img src="assets/images/icons/feature_icn1.png" alt="icon">
                                        </span>
                                        <span class="feature_btn_txt">Streamlined Bookings</span>
                                    </a>
                                </li>

                                <li>
                                    <a class="our-process-item is_active" href="#">
                                        <span class="feature_icn">
                                            <img src="assets/images/icons/feature_icn2.png" alt="icon">
                                        </span>
                                        <span class="feature_btn_txt">Secure payments</span>
                                    </a>
                                </li>

                                <li>
                                    <a class="our-process-item" href="#">
                                        <span class="feature_icn">
                                            <img src="assets/images/icons/feature_icn3.png" alt="icon">
                                        </span>
                                        <span class="feature_btn_txt">Automated Messaging</span>
                                    </a>
                                </li>

                                <li>
                                    <a class="our-process-item" href="#">
                                        <span class="feature_icn">
                                            <img src="assets/images/icons/feature_icn4.png" alt="icon">
                                        </span>
                                        <span class="feature_btn_txt">Contract Management</span>
                                    </a>
                                </li>

                                <li>
                                    <a class="our-process-item" href="#">
                                        <span class="feature_icn">
                                            <img src="assets/images/icons/feature_icn5.png" alt="icon">
                                        </span>
                                        <span class="feature_btn_txt">View DJ Calendar</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-6">
                            <figure class="our-process-fig">
                                <img src="assets/images/thumbnails/feature-banner.png" alt="thumbnail" />
                            </figure>
                        </div>
                    </div>
                </div>
            </section>
            <!-- best feature::end -->

            <!-- client testimonial -->
            <section class="client-testimonial-sec service-testimonial">
                <article class="cs-title-wrapper">
                    <h1 class="cs-heading-h1 gradient-text mb-6">
                        Testimonials from customers
                    </h1>
                </article>

                <div class="slider client-testimonial">
                    <div class="slider-items">
                        <figure class="testimonial_fig">
                            <img src="assets/images/thumbnails/testimonial_ing1.png" alt="thumbnail" />
                        </figure>
                        <article class="testimonial_content">
                            <span>
                                <span class="testtimonial_date_wrap">
                                    <span class="testimonial_date">May 8, 2020</span>
                                    <span class="testimonial_rating">
                                        <img src="assets/images/icons/star_icn.png" alt="star icon">
                                        <img src="assets/images/icons/star_icn.png" alt="star icon">
                                        <img src="assets/images/icons/star_icn.png" alt="star icon">
                                        <img src="assets/images/icons/star_icn.png" alt="star icon">
                                        <img src="assets/images/icons/star_icn.png" alt="star icon">
                                    </span>
                                </span>
                                <p>I recall complaining about all the operating things that comes with being a DJ, and
                                    bang, here we have Amp Spot working for me so I can do what I do best. </p>
                            </span>
                            <h3>- DJ S.</h3>
                        </article>
                    </div>

                    <div class="slider-items">
                        <figure class="testimonial_fig">
                            <img src="assets/images/thumbnails/testimonial_ing2.png" alt="thumbnail" />
                        </figure>
                        <article class="testimonial_content">
                            <span>
                                <span class="testtimonial_date_wrap">
                                    <span class="testimonial_date">May 8, 2020</span>
                                    <span class="testimonial_rating">
                                        <img src="assets/images/icons/star_icn.png" alt="star icon">
                                        <img src="assets/images/icons/star_icn.png" alt="star icon">
                                        <img src="assets/images/icons/star_icn.png" alt="star icon">
                                        <img src="assets/images/icons/star_icn.png" alt="star icon">
                                        <img src="assets/images/icons/star_icn.png" alt="star icon">
                                    </span>
                                </span>
                                <p>Thank you Amp Spot. I’ve been waiting
                                    for something like this, for a long time. </p>
                            </span>
                            <h3>- DJ S.</h3>
                        </article>
                    </div>

                    <div class="slider-items">
                        <figure class="testimonial_fig">
                            <img src="assets/images/thumbnails/testimonial_ing1.png" alt="thumbnail" />
                        </figure>
                        <article class="testimonial_content">
                            <span>
                                <span class="testtimonial_date_wrap">
                                    <span class="testimonial_date">May 8, 2020</span>
                                    <span class="testimonial_rating">
                                        <img src="assets/images/icons/star_icn.png" alt="star icon">
                                        <img src="assets/images/icons/star_icn.png" alt="star icon">
                                        <img src="assets/images/icons/star_icn.png" alt="star icon">
                                        <img src="assets/images/icons/star_icn.png" alt="star icon">
                                        <img src="assets/images/icons/star_icn.png" alt="star icon">
                                    </span>
                                </span>
                                <p>I recall complaining about all the operating things that comes with being a DJ, and
                                    bang, here we have Amp Spot working for me so I can do what I do best. </p>
                            </span>
                            <h3>- DJ S.</h3>
                        </article>
                    </div>

                    <div class="slider-items">
                        <figure class="testimonial_fig">
                            <img src="assets/images/thumbnails/testimonial_ing2.png" alt="thumbnail" />
                        </figure>
                        <article class="testimonial_content">
                            <span>
                                <span class="testtimonial_date_wrap">
                                    <span class="testimonial_date">May 8, 2020</span>
                                    <span class="testimonial_rating">
                                        <img src="assets/images/icons/star_icn.png" alt="star icon">
                                        <img src="assets/images/icons/star_icn.png" alt="star icon">
                                        <img src="assets/images/icons/star_icn.png" alt="star icon">
                                        <img src="assets/images/icons/star_icn.png" alt="star icon">
                                        <img src="assets/images/icons/star_icn.png" alt="star icon">
                                    </span>
                                </span>
                                <p>Thank you Amp Spot. I’ve been waiting
                                    for something like this, for a long time. </p>
                            </span>
                            <h3>- DJ S.</h3>
                        </article>
                    </div>




                </div>
            </section>
            <!-- client testimonial::end -->

            <!-- pricing -->
            <section class="startups" id="pricing-section">
                <div class="container">
                    <article class="cs-title-wrapper">
                        <h2 class="cs-heading-h2 text-center d-block mb-6">
                            Make It Work For You
                        </h2>
                    </article>

                    <div class="row align-items-flex-end">
                        <div class="col-md-12 text-center">
                            <div class="price-plan-wrapper">
                                <a href="#" class="plan-btn is-active" data-plan="monthly">Monthly</a>
                                <a href="#" class="plan-btn" data-plan="yearly">Yearly</a>
                            </div>
                        </div>
                        <div class="col-md-4 monthly-card">
                            <div class="pricing-card">
                                <div class="price-card_header">
                                    <h4>$30 <span>/month</span></h4>
                                    <h3>Basic</h3>
                                </div>
                                <div class="price-card-content">
                                    <h6>Features Included :</h6>
                                    <ul class="price-feature-list">
                                        <li>
                                            <span class="price-feature-icon">
                                                <img src="assets/images/icons/check-icn.png" alt="check icon">
                                            </span>
                                            <span class="price-feature-text">Document Management </span>
                                        </li>

                                        <li>
                                            <span class="price-feature-icon">
                                                <img src="assets/images/icons/check-icn.png" alt="check icon">
                                            </span>
                                            <span class="price-feature-text">Contract Handling</span>
                                        </li>

                                        <li>
                                            <span class="price-feature-icon">
                                                <img src="assets/images/icons/check-icn.png" alt="check icon">
                                            </span>
                                            <span class="price-feature-text">Storage Capacity: 30 GB </span>
                                        </li>

                                        <li>
                                            <span class="price-feature-icon">
                                                <img src="assets/images/icons/cross-outline-icn.png" alt="check icon">
                                            </span>
                                            <span class="price-feature-text">Prompt Engineering</span>
                                        </li>

                                        <li>
                                            <span class="price-feature-icon">
                                                <img src="assets/images/icons/cross-outline-icn.png" alt="check icon">
                                            </span>
                                            <span class="price-feature-text">Streamlined Booking</span>
                                        </li>
                                    </ul>
                                </div>

                                <div class="price-card-footer">
                                    <button class="theme-btn tertary-btn d-block w-100">
                                        Buy Now
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 monthly-card">
                            <div class="pricing-card is-active-card">
                                <div class="price-card-badge">
                                    <h6>MOST POPULAR</h6>
                                </div>
                                <div class="price-card_header">
                                    <h4>$75 <span>/month</span></h4>
                                    <h3>Pro</h3>
                                </div>
                                <div class="price-card-content">
                                    <h6>Features Included :</h6>
                                    <ul class="price-feature-list">
                                        <li>
                                            <span class="price-feature-icon">
                                                <img src="assets/images/icons/check-icn.png" alt="check icon">
                                            </span>
                                            <span class="price-feature-text">Automated Contract Management</span>
                                        </li>

                                        <li>
                                            <span class="price-feature-icon">
                                                <img src="assets/images/icons/check-icn.png" alt="check icon">
                                            </span>
                                            <span class="price-feature-text">Automated Customer Messaging</span>
                                        </li>

                                        <li>
                                            <span class="price-feature-icon">
                                                <img src="assets/images/icons/check-icn.png" alt="check icon">
                                            </span>
                                            <span class="price-feature-text">Calendar & Availability</span>
                                        </li>

                                        <li>
                                            <span class="price-feature-icon">
                                                <img src="assets/images/icons/check-icn.png" alt="check icon">
                                            </span>
                                            <span class="price-feature-text">Event Inquiry Summaries</span>
                                        </li>

                                        <li>
                                            <span class="price-feature-icon">
                                                <img src="assets/images/icons/check-icn.png" alt="check icon">
                                            </span>
                                            <span class="price-feature-text">Storage Capacity: 200 GB</span>
                                        </li>
                                    </ul>
                                </div>

                                <div class="price-card-footer">
                                    <button class="theme-btn tertary-btn d-block w-100">
                                        Buy Now
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 monthly-card">
                            <div class="pricing-card">
                                <div class="price-card_header">
                                    <h4>$180 <span>/month</span></h4>
                                    <h3>Premium</h3>
                                </div>
                                <div class="price-card-content">
                                    <h6>Features Included :</h6>
                                    <ul class="price-feature-list">
                                        <li>
                                            <span class="price-feature-icon">
                                                <img src="assets/images/icons/check-icn.png" alt="check icon">
                                            </span>
                                            <span class="price-feature-text">Customer Relationship Builder</span>
                                        </li>

                                        <li>
                                            <span class="price-feature-icon">
                                                <img src="assets/images/icons/check-icn.png" alt="check icon">
                                            </span>
                                            <span class="price-feature-text">Prompt Engineering</span>
                                        </li>

                                        <li>
                                            <span class="price-feature-icon">
                                                <img src="assets/images/icons/check-icn.png" alt="check icon">
                                            </span>
                                            <span class="price-feature-text">Profit Maximization Dashboard </span>
                                        </li>

                                        <li>
                                            <span class="price-feature-icon">
                                                <img src="assets/images/icons/check-icn.png" alt="check icon">
                                            </span>
                                            <span class="price-feature-text">Secure Payments</span>
                                        </li>

                                        <li>
                                            <span class="price-feature-icon">
                                                <img src="assets/images/icons/check-icn.png" alt="check icon">
                                            </span>
                                            <span class="price-feature-text">Storage Capacity: Unlimited</span>
                                        </li>
                                    </ul>
                                </div>

                                <div class="price-card-footer">
                                    <button class="theme-btn tertary-btn d-block w-100">
                                        Buy Now
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 yearly-card" style="display: none;">
                            <div class="pricing-card">
                                <div class="price-card_header">
                                    <h4>$324 <span>/year (10% Discount)</span></h4>
                                    <h3>Basic</h3>
                                </div>
                                <div class="price-card-content">
                                    <h6>Features Included :</h6>
                                    <ul class="price-feature-list">
                                        <li>
                                            <span class="price-feature-icon">
                                                <img src="assets/images/icons/check-icn.png" alt="check icon">
                                            </span>
                                            <span class="price-feature-text">Document Management </span>
                                        </li>

                                        <li>
                                            <span class="price-feature-icon">
                                                <img src="assets/images/icons/check-icn.png" alt="check icon">
                                            </span>
                                            <span class="price-feature-text">Contract Handling</span>
                                        </li>

                                        <li>
                                            <span class="price-feature-icon">
                                                <img src="assets/images/icons/check-icn.png" alt="check icon">
                                            </span>
                                            <span class="price-feature-text">Storage Capacity: 30 GB </span>
                                        </li>

                                        <li>
                                            <span class="price-feature-icon">
                                                <img src="assets/images/icons/cross-outline-icn.png" alt="check icon">
                                            </span>
                                            <span class="price-feature-text">Prompt Engineering</span>
                                        </li>

                                        <li>
                                            <span class="price-feature-icon">
                                                <img src="assets/images/icons/cross-outline-icn.png" alt="check icon">
                                            </span>
                                            <span class="price-feature-text">Streamlined Booking</span>
                                        </li>
                                    </ul>
                                </div>

                                <div class="price-card-footer">
                                    <button class="theme-btn tertary-btn d-block w-100">
                                        Buy Now
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 yearly-card" style="display: none;">
                            <div class="pricing-card is-active-card">
                                <div class="price-card-badge">
                                    <h6>MOST POPULAR</h6>
                                </div>
                                <div class="price-card_header">
                                    <h4>$810 <span>/year (10% Discount)</span></h4>
                                    <h3>Pro</h3>
                                </div>
                                <div class="price-card-content">
                                    <h6>Features Included :</h6>
                                    <ul class="price-feature-list">
                                        <li>
                                            <span class="price-feature-icon">
                                                <img src="assets/images/icons/check-icn.png" alt="check icon">
                                            </span>
                                            <span class="price-feature-text">Automated Contract Management</span>
                                        </li>

                                        <li>
                                            <span class="price-feature-icon">
                                                <img src="assets/images/icons/check-icn.png" alt="check icon">
                                            </span>
                                            <span class="price-feature-text">Automated Customer Messaging</span>
                                        </li>

                                        <li>
                                            <span class="price-feature-icon">
                                                <img src="assets/images/icons/check-icn.png" alt="check icon">
                                            </span>
                                            <span class="price-feature-text">Calendar & Availability</span>
                                        </li>

                                        <li>
                                            <span class="price-feature-icon">
                                                <img src="assets/images/icons/check-icn.png" alt="check icon">
                                            </span>
                                            <span class="price-feature-text">Event Inquiry Summaries</span>
                                        </li>

                                        <li>
                                            <span class="price-feature-icon">
                                                <img src="assets/images/icons/check-icn.png" alt="check icon">
                                            </span>
                                            <span class="price-feature-text">Storage Capacity: 200 GB</span>
                                        </li>
                                    </ul>
                                </div>

                                <div class="price-card-footer">
                                    <button class="theme-btn tertary-btn d-block w-100">
                                        Buy Now
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 yearly-card" style="display: none;">
                            <div class="pricing-card">
                                <div class="price-card_header">
                                    <h4>$1,944 <span>/year (10% Discount)</span></h4>
                                    <h3>Premium</h3>
                                </div>
                                <div class="price-card-content">
                                    <h6>Features Included :</h6>
                                    <ul class="price-feature-list">
                                        <li>
                                            <span class="price-feature-icon">
                                                <img src="assets/images/icons/check-icn.png" alt="check icon">
                                            </span>
                                            <span class="price-feature-text">Customer Relationship Builder</span>
                                        </li>

                                        <li>
                                            <span class="price-feature-icon">
                                                <img src="assets/images/icons/check-icn.png" alt="check icon">
                                            </span>
                                            <span class="price-feature-text">Prompt Engineering</span>
                                        </li>

                                        <li>
                                            <span class="price-feature-icon">
                                                <img src="assets/images/icons/check-icn.png" alt="check icon">
                                            </span>
                                            <span class="price-feature-text">Profit Maximization Dashboard </span>
                                        </li>

                                        <li>
                                            <span class="price-feature-icon">
                                                <img src="assets/images/icons/check-icn.png" alt="check icon">
                                            </span>
                                            <span class="price-feature-text">Secure Payments</span>
                                        </li>

                                        <li>
                                            <span class="price-feature-icon">
                                                <img src="assets/images/icons/check-icn.png" alt="check icon">
                                            </span>
                                            <span class="price-feature-text">Storage Capacity: Unlimited</span>
                                        </li>
                                    </ul>
                                </div>

                                <div class="price-card-footer">
                                    <button class="theme-btn tertary-btn d-block w-100">
                                        Buy Now
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="price-free-trails">
                                <a href="#" class="gradient-text">15-Day free trial available </a>
                                <a href="#" class="gradient-text">30 Days Money-back refund policy </a>
                                <a href="#" class="gradient-text">Prices do not include applicable state sales tax. </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- pricing:end -->

            <!-- how-it-work -->
            <section class="our-services" id="contact-section">
                <div class="container">
                    <article class="cs-title-wrapper">
                        <h3 class="cs-heading-h3">How It works</h3>
                    </article>
                    <div class="row align-items-center">
                        <div class="col-md-5 pe-0">
                            <div class="service-box justify-content-end">
                                <div class="service-item ">
                                    <img src="assets/images/icons/how-it-img-1.png" alt="icons " />
                                    <h6 class="service-name ">Create</h6>
                                </div>
                                <figure class="arrow-icn-wrapper">
                                    <img src="assets/images/icons/how-it-arrow1.png" alt="arrow icon">
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-4 p-0">
                            <div class="service-box">
                                <div class="service-item ">
                                    <img src="assets/images/icons/how-it-img-2.png" alt="icons " />
                                    <h6 class="service-name ">Populate</h6>
                                </div>

                                <figure class="arrow-icn-wrapper ms-2">
                                    <img src="assets/images/icons/how-it-arrow2.png" alt="arrow icon">
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="service-box">
                                <div class="service-item ">
                                    <img src="assets/images/icons/how-it-img-3.png" alt="icons " />
                                    <h6 class="service-name ">Success</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- how-it-work::end -->

            <!-- manage-your-career -->
            <section class="manage-your-career">
                <div class="container">
                    <div class="manage-career-cad">
                        <article class="cs-title-wrapper">
                            <h2 class="cs-heading-h2 ">
                                Manage your Career <br /> smoothly with <span class="cs-mark ">AMP</span>
                            </h2>
                            <p class="cs-para">Our mission is give a perfect automation system and platform for both
                                DJ’s and customers. More to come!</p>
                            <div class="banner-btn-wrapper ">
                                <a href="/registration" class="theme-btn join-us-btn">Join Us Now</a>
                                <a href="/registration" class="theme-btn theme-btn-secondary">Sign In
                                </a>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
            <!-- manage-your-career::end -->
        </main>
        <!-- Main end -->

        <!-- Footer start -->
        <footer class="cs-footer">
            <div class="container">
                <div class="inner-footer-content">
                    <a href="#" class="footer-logo">
                        <img src="assets/images/thumbnails/cs-logo.png" alt="logo">
                    </a>
                    <div class="footer-social-info">
                        <ul class="footer-social-list">
                            <li>
                                <a href="#">
                                    <img src="assets/images/icons/linkedin-icn.png" alt="linkedin-icn" />
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="assets/images/icons/twitter-icn.png" alt="twitter-icn" />
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="assets/images/icons/insta-icn.png" alt="insta-icn" />
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="assets/images/icons/fb-icn.png" alt="fb-icn" />
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="assets/images/icons/youtube-icn.png" alt="youtube-icn" />
                                </a>
                            </li>
                        </ul>
                        <p class="footer-copyright">© 2023 AMP Spot | All rights reserved | Designed By Md Rakib Shekh</p>

                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer end -->

    </div>

    <!-- JS script here -->
    <script src="assets/js/jquery.js "></script>
    <script src="assets/js/slick.js "></script>
    <script src="assets/js/bootstrap.js "></script>
    <script src="assets/js/custom.js "></script>


</body>

</html>