<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, width=device-width">
  <title>AmpSpot | DJ Management Platform</title>
  <link rel="icon" type="image/x-icon" href="assets/images/icons/favicon.jpeg">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./main.css">

</head>

<body>
  <div class="row login_form ">
      <div class="col-md-6  col_login_form">
          <div class="login_form_item wrappoer_login_item">
              <div class=" logo_img">
                  <img class="frame-icon" alt="" src="./public/frame.svg">
              </div>
              <div class="english-uk-parent">
                  <div class="english-uk">English (UK)</div>
                  <img class="frame-child" alt="" src="./public/polygon-1.svg">
              </div>
          </div>
          <div class="join-waitlist-parent">
              <div class="join-waitlist-children">
                  <div class="join-waitlist">Join Waitlist</div>
                  <div class="you-dj-name-parent">
                      <div class="you-dj-name">You DJ Name</div>
                      <input type="text" class="dj-sigma-wrapper" id="djName" name="djName"
                          placeholder="Enter your DJ Name">
                  </div>
                  <div class="row">
                      <div class="col-md-6 usa-wrapper-col">
                          <div class="first-name">First Name</div>
                          <input type="text" class="usa-wrapper" id="firstName" name="firstName"
                              placeholder="Enter your First Name">
                      </div>
                      <div class="col-md-6 usa-wrapper-col">
                          <div class="first-name">Last Name</div>
                          <input type="text" class="usa-wrapper" id="lastName" name="lastName"
                              placeholder="Enter your Last Name">
                      </div>
                  </div>
                  <div class="you-dj-name-parent">
                      <div class="you-dj-name">Email</div>
                      <input type="email" class="dj-sigma-wrapper" id="email" name="email"
                          placeholder="Enter your Email">
                  </div>
                  <div class="you-dj-name-parent">
                      <div class="you-dj-name">Your Contact Number</div>
                      <input type="number" class="dj-sigma-wrapper" id="contactNumber" name="contactNumber"
                          placeholder="Enter your Contact Number">
                  </div>
                  <div class="you-dj-name-parent">
                      <div class="you-dj-name">Enter Your Instagram Username</div>
                      <input type="text" class="dj-sigma-wrapper" id="instagramUsername" name="instagramUsername"
                          placeholder="Enter your Instagram Username">
                  </div>
                  <div class="fi-rr-checkbox-parent">
                      <input type="checkbox"  id="customername" >
                      <div class="ready-to-be">Ready to be customer</div>
                  </div>
                  <div class="fi-rr-checkbox-group">
                      <input type="checkbox" id="platformname">
                      <div class="opt-in-to">Opt in to email/text messages about the platform</div>
                  </div>

                  <div class="buttons-wrapper">
                      <div class="buttons" id="buttonsContainer">
                          <div class="join" id="submitButton">Join</div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-6 col_login_form2">
          <div class="login_imageWrapper">
              <div class="rectangle-div">
                  <div class="frame-div">
                      <img class="frame-item" alt="" width="200" src="./public/group-1000004212.svg">
                      <b class="dj-sigma">Log in with QR code </b>
                      <div class="scan-this-with-container">
                          <span class="scan-this-with-container1">
                              <span>Scan this with your </span>
                              <span class="mobile">mobile </span>
                              <span>to log in instantly</span>
                          </span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <script>
      var buttonsContainer = document.getElementById("buttonsContainer");
      if (buttonsContainer) {
          buttonsContainer.addEventListener("click", function (e) {
              // Check if the clicked element is the submit button
              if (e.target.id === "submitButton") {
                  // Get the value from the input field with the dj-sigma class
                  var djNameInput = document.getElementById("djName");
                  var djName = djNameInput.value;
                  var firstNameInput = document.getElementById("firstName");
                  var firstName = firstNameInput.value;
                  var lastNameInput = document.getElementById("lastName");
                  var lastName = lastNameInput.value;
                  var emailInput = document.getElementById("email");
                  var email = emailInput.value;
                  var contactNumberInput = document.getElementById("contactNumber");
                  var contactNumber = contactNumberInput.value;
                  var instagramUsernameInput = document.getElementById("instagramUsername");
                  var instagramUsername = instagramUsernameInput.value;
                  var customernameInput =  document.getElementById("customername")
                  var customername = customernameInput.checked
                  var platformnameInput =  document.getElementById("platformname")
                  var platformname = platformnameInput.checked
                  // Make an API call to "/done" with the DJ name
                  // Replace this with your actual API call logic
                  // Example using fetch:
                  fetch("/createUser", {
                      method: "POST", // You can use POST or any other HTTP method
                      body: JSON.stringify({ djName: djName, firstName: firstName, lastName: lastName, email: email, contactNumber: contactNumber, instagramUsername: instagramUsername,customername: customername ,platformname:platformname}), // Send data to the API
                      headers: {
                          "Content-Type": "application/json"
                      }
                  })
                      .then(response => {
                          if (response.ok) {
                              // Handle success
                              alert("customer registered successful");
                          } else {
                              // Handle error
                              alert("API call failed");
                          }
                      })
                      .catch(error => {
                          console.error("API call error:", error);
                      });
              }
          });
      }
  </script>
</body>

</html>